.wrapper {
  position: relative;
  width: 100%;
  height: calc(100% - 0px);
  overflow: auto;
  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
}
.search {
  position: relative;
  display: flex;
  height: 7vh;
  width: calc(100% - 20px);
  border-radius: 4px;
  box-shadow: 0px 1px 4px rgba(48, 47, 47, 0.8);
  top: 10px;
  left: 10px;
  background: #ffffff;
  :global {
    .ant-btn-icon-only {
      width: 50px !important;
      border-radius: 6px !important;
    }
  }
}

.middleBox {
  height: calc(80vh - 3px);
  width: calc(100% - 20px);
  padding: 15px;
  background: #ffffff;
  position: absolute;
  left: 15;
  top: 4;
  border-radius: 4px 4px 4px 4px;
  opacity: 1;
  box-shadow: 0px 1px 4px rgba(48, 47, 47, 0.8);
  overflow: auto;
}
.lastBox {
  overflow: auto;
  height: calc(80vh - 3px);
  width: calc(100% - 20px);
  background: #ffffff;
  position: absolute;
  left: 10;
  top: 4;
  border-radius: 4px 4px 4px 4px;
  opacity: 1;
  box-shadow: 0px 1px 4px rgba(48, 47, 47, 0.8);
}
.typeBox {
  position: relative;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0px 1px 4px rgba(48, 47, 47, 0.8);
  background: #ffffff;
  padding: 6 14px;
  height: 28vh;
  top: 4px;
  overflow: auto;
}
